<html>
    <head>
        <!-- CDNS -->
        <title>Graphs</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <style>
            .inits {
                visibility: hidden;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3" id ="citySelect">
                    <p>SELECT City</p>
                    <select id ="selCity" onchange="somethingChanged(this.value)">
                    </select>
                </div>
                <div class="col-md-3" id = "monthSelect">
                    <p>SELECT Month</p>
                    <select id = "selMonth" onchange="somethingChanged(this.value)">
                    </select>
                </div>
                <div class="col-md-3" id ="typeSelect">
                    <p>SELECT Data</p>
                    <select id = "selType" onchange="somethingChanged(this.value)">
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

            
            <!-- Graph-Containing Divs -->
            <div id="first_graph" style="width:1000px; height:500px;"></div>
            <div id="textblurb">THIS IS A TIMESERIES GRAPH.  IT SHOWS TIME IN A SERIES.</div>
            <div id="second_graph" style="width:1000px; height:500px;"></div>
            <div id="third_graph" style="width:1000px; height:500px;"></div>
        
        </div>
        <div class="inits" id="initCity">{{ city }}</div>
        <div class="inits" id="initMonth">{{ month }}</div>
        <div class="inits" id="initType">{{ types }}</div>
        <!-- Javascript File -->
        <script type="text/javascript" src="static/js/script.js"></script>
        
    </body>
</html>