<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Travel Weather Map</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
        <style>
        .p{ 
            font-size: 150%;
            font-family: 'Ubuntu', sans-serif;
            
        }

        .h{
            font-size:200%;
            font-family: 'Oleo Script', cursive;
            
        }
        </style>
    </head>

    <body>
    <!--overlay loading page-->
        <div class="overlay">
            <div class="overlay-loader"></div>
        </div>

    <!-- Navbar (on top) -->
        <div class="w3-top w3-hide-small" id="top">
            <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
                    <a id="homepage" href="#" class="w3-bar-item w3-button homeBtn">HOME</a>
                    <a href="#first_graph_link" class="w3-bar-item w3-button firstBtn">TIMESERIES</a>
                    <a href="#second_graph_link" class="w3-bar-item w3-button secondBtn">SCATTERS</a>
                    <a href="#third_graph_link" class="w3-bar-item w3-button thirdBtn">DONUTS</a>
                    <a href="#collage" class="w3-bar-item w3-button collageBtn">COLLAGE</a>
                    <a href="#aboutUs_link" class="w3-bar-item w3-button aboutBtn">ABOUT US</a>
                    <a href="#contact" class="w3-bar-item w3-button contactBtn">CONTACT</a>
            </div>
        </div>

        

    <!-- intro with input -->
        <div id="bgimg">
        <!-- Header with image -->
            <div class="w3-display-bottomleft w3-padding">
                <span id="box" class="w3-tag w3-xlarge">Don't Stress, Be Prepared.</span>
            </div>
            <div class="w3-display-bottomright w3-center" id="title">  
                <div class="intro">  
                    <span class="w3-text-black w3-hide-small">PREPARE FOR YOUR TRIP!</span>
                </div>
            </div>
        <!-- INPUT BOXES - still working on this -->
            <div class="w3-display-middle w3-center">
                <div class="select">
                    <form>
                        <select id ="selCity" onchange="somethingChanged(this.value)">
                        </select>
                        <select id = "selMonth" onchange="somethingChanged(this.value)">
                        </select>
                        <select id = "selType" onchange="somethingChanged(this.value)">
                        </select>
                    </form>
                </div>
            </div> 
        </div>

        <!-- First Graph Space -->
        <div class="w3-display-container w3-blue-grey" id = "first_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left" id="first_graph" style="width:60%; height:60%;"></div>
            <div class='w3-light-grey w3-display-right' style="width:40%; height: 60%">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Weather Over Time</h2></div>
                <p class='p'>
                    This time series shows the historical weather trends associated with the selected city and month.
                    the lower line represents the daily minimums, the middle the average, and uppermost the daily maximum. 
                    This chart was designed using plotly's time series functionality associated with line charts.  
                    Our data comes from a dataset that records the hourly weather statistics from 2012 to 2017. 
                    We aggregated the daily values into daily averages while preservering the minimal and max values for a given day. 
                    link to datasource: <a class='orange' href="https://www.kaggle.com/selfishgene/historical-hourly-weather-data">Kaggle.com</a>
                </p>
            </div>
        </div>

        <!-- Second Graph Space -->
        <div class="w3-display-container w3-blue-grey" id = "second_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left" id="second_graph" style="width:60%; height:60%;"></div>
            <div class='w3-light-grey w3-display-right' style="width:40%; height:60%;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Airport Delays Scatter Chart</h2></div>
                <p class='p'>
                    We were also able to access data on <a class='orange' href='https://www.kaggle.com/usdot/flight-delays'>airport delays</a>. We indexed the data against the cities we have
                    and have displayed in this scatter chart the unique effects weather has on the frequency of flight delays <strong>per city and month of the year</strong> users
                    can use this information to anticipate how troublesome their flights could potentially be on say during a "snowstorm in Boston" vs. one in New York. 
                </p>
            </div>
        </div>

        <!-- Third Graph Space -->
        <div class="w3-display-container w3-blue-grey" id = "third_graph_link" style="width:100%; height:100%;">
            <div class="w3-display-left w3-white" id="third_graph" style="width:60%; height:60%;"></div>
            <div class="w3-light-grey w3-display-right" style="width:40%; height:60%;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>Qualitative Weather Donut</h2></div>            
                <p class='p'>
                    Included in our <a class='orange' href="https://www.kaggle.com/selfishgene/historical-hourly-weather-data">dataset</a> are qualitative 
                    descriptions of daily weather conditions for each city. The donut chart displays these values for the selected month. 
                    Coloring for each slice is dynamically generated so that like values e.g "light rain" or "heavy rain" have a similar color scheme 
                    yet differ in hue to distinguish them. 
                </p>
            </div>
        </div>

        <!-- Picture Collage Space -->
        <div class="w3-display-container">
            <div id="collage">
                    
            </div>        
        </div>

        <div class="w3-display-container" id = "aboutUs_link" style="width:100%; height:500px;">
            <div class="w3-display-bottommiddle" id="aboutUs" style="width:90%;">
                <div class='w3-border-red w3-bottombar'><h2 class='h'>About Us</h2></div>        
                <p class='p'>
                    This project was completed as a part of the <a class='orange' href="https://bootcamp.ce.uci.edu/data/">UCI Data Analytics Bootcamp</a>
                    by <a class='orange' href="https://github.com/coreyclip">Corey Clippinger </a>, <a class='orange' href="https://github.com/totopi/">Kevin McNalley</a>, <a class='orange' href="https://github.com/gazellebahramian">Gazelle Bahramianfard</a>,
                    and <a class='orange' href='https://github.com/chrisprabhu'>Chris Prabhu</a>
                </p>
            </div>
        </div>

        <!-- Contact -->
        <div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge" id="contact">
            <div class="w3-content">
                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
                <p class="w3-xxlarge"><strong>Have any questions or concerns?</strong>Send us a message!</p>
                <form action="mailto:gazellebahramian@gmail.com" method="post" enctype="text/plain">
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Travel Location" required name="location"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date" required name="date" value="Travel Dates"></p>
                    <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Comments" required name="Message"></p>
                    <input type="submit" class="w3-button w3-black w3-block contactsubmit" value="Send">
                </form>
            </div>
        </div>

        
        <!-- Footer -->
        <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
        <p>Thanks for Visiting!</p>
        </footer>

<!--JavaScript-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/plugins/ScrollToPlugin.min.js"></script>
        <script src="static/js/script.js"></script>

        <script>
            let tl = new TimelineLite();
            let $img = $('#bgimg');

            //Title slide
            tl.to("#title",1,{left:'20%',top:'44%', x:0 ,xPercent:'-50',yPercent:'-50'})
            
            //Background Image Fade
            TweenMax.set($img,{opacity:0});
            TweenMax.to($img,4, {opacity:1});

            //page scroll

            $(function() {
            $(".homeBtn").bind('click', { id: '#bgimg' }, scroller);
            $(".firstBtn").bind('click', {id: '#first_graph_link'}, scroller);
            $(".secondBtn").bind('click', {id: '#second_graph_link'}, scroller);
            $(".thirdBtn").bind('click', {id: '#third_graph_link'}, scroller);
            $(".collageBtn").bind('click', {id: '#collage'}, scroller);
            $(".aboutBtn").bind('click', { id: '#aboutUs_link' }, scroller);
            $(".contactBtn").bind('click', { id: '#contact' }, scroller);
            
            function scroller(event){
                let scrollYPos = $(event.data.id).offset().top;
                event.preventDefault();
                TweenLite.to(window, 2, {scrollTo:{y:scrollYPos, x:0}, ease:Power4.easeOut})
                }	  
            });

            // //page loading animation
            (function() {

            let btn = document.querySelector(".w3-button"),
                overlay = document.querySelector(".overlay"),
                loader = document.querySelector(".overlay-loader"),
                overlayTL = new TimelineMax(),
                loaderTL = new TimelineMax();

            let animateOut = function() {
                overlayTL.to(overlay, 0.6, {
                bottom: "100%",
                ease: Power4.easeInOut,
                delay: 0.25
                });
                loaderTL.to(loader, 0.5, { y: "-40", opacity: 0 });
            };

            let animateOut_2 = function() {
                overlayTL.to(overlay, 0.6, {
                top: "100%",
                ease: Power4.easeInOut,
                delay: 0.25
                });
                loaderTL.to(loader, 0.5, { y: "40", opacity: 0 });
            };

            let animateIn = function() {
                overlayTL.fromTo(
                overlay,
                0.6,
                { top: "100%", bottom: 0 },
                { top: 0, ease: Power4.easeInOut }
                );
                loaderTL.fromTo(
                loader,
                0.5,
                { y: "40", opacity: 0, delay: 0.3 },
                { y: 0, opacity: 1, delay: 0.6, ease: Power2.easeOut }
                );
            };

            animateOut_2();

            btn.onclick = function() {
                animateIn();
                setTimeout(animateOut_2, 2000);
            };

            })();

        
        </script>
        </body>
    </html>